<table class="table table-hover">
	<thead>
		<tr>
			<th>{{ 'gt.equipe.liste.equipe'|trans() }}</th>
			<th>{{ 'gt.equipe.liste.email'|trans() }}</th>
			<th>{{ 'gt.equipe.liste.date_creation'|trans() }}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% if equipes|length > 0 %}
		{% for equipe in equipes %}
		<tr>
			<td scope="row">{{ equipe.nom }}</td>
			<td>{{ equipe.email }}</td>
			<td>{{ equipe.dateCreation|date('d/m/Y') }}</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs"><a href="{{ path(options['modifier'], { 'id_equipe': equipe.id }) }}">{{ 'gt.equipe.action.modifier'|trans() }}</a></button>
					<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="{{ path(options['modifier'], { 'id_equipe': equipe.id }) }}">{{ 'gt.equipe.action.modifier'|trans() }}</a></li>
						<li><a href="{{ path(options['supprimer'], { 'id_equipe': equipe.id }) }}">{{ 'gt.equipe.action.supprimer'|trans() }}</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan="4">{{ 'gt.equipe.liste.no_equipe'|trans({'%club%': club.nom}) }}</td>
		</tr>
	{% endif %}
	</tbody>
</table>	
