{% if not cl_equipes is defined %}
	{% set cl_equipes = '' %}
{% endif %}
{% if not cl_membres is defined %}
	{% set cl_membres = '' %}
{% endif %}
{% if not cl_bureau is defined %}
	{% set cl_bureau = '' %}
{% endif %}
{% if not cl_evenement is defined %}
	{% set cl_evenement = '' %}
{% endif %}

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('gt_club_homepage', {'id_club': club.id }) }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="{{ cl_equipes }}"><a href="{{ path('gt_club_equipes', {'id_club': club.id }) }}">{{ 'gt.club.tab.label.equipes'|trans() }}</a></li>
				<li class="{{ cl_membres }}"><a href="{{ path('gt_club_membres', {'id_club': club.id }) }}">{{ 'gt.club.tab.label.membres'|trans() }}</a></li>
				<li class="{{ cl_bureau }}"><a href="{{ path('gt_club_bureau', {'id_club': club.id }) }}">{{ 'gt.club.tab.label.bureau'|trans() }}</a></li>
				<li class="{{ cl_evenement }}"><a href="{{ path('gt_club_evenements', {'id_club': club.id }) }}">{{ 'gt.club.tab.label.bureau'|trans() }}</a></li>
			</ul>
		</div>
	</div>
</nav>