{# src/GT/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} GESTEAM {% endblock %}</title>

    {% block stylesheets %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<style>
			.navbar-inverse .navbar-brand {
				color: #ddd !important;
			}
			.navbar-inverse .navbar-brand:hover,
			.navbar-inverse .navbar-brand:focus {
				color: #aaa !important;
				background-color: transparent;
			}
			.navbar-inverse .navbar-text {
				color: #aaa !important;
			}
			.navbar-inverse .navbar-nav > li > a {
				color: #aaa !important;
			}
		</style>
    {% endblock %}

	{% block javascripts %}
		{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
  </head>

	<body>
		<div class="container-fluid">
			<div id="header" class="row">
				<div class="col-md-1"><h3><small>GESTEAM</small></h3></div>
				<div class="col-md-3"><h3><small>{% block nom_club_equipe %} default layout {% endblock %}</small></h3></div>
				<div class="col-md-7 text-right">
					{% block menu_user %}
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
									<li class="dropdown-header">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
									<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
									<li><a href="{{ path('fos_user_profile_show') }}">{{ 'profil'|trans() }}</a></li>
								</ul>
							</div>
						{% else %}
							<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
						{% endif %}
					{% endblock %}
				</div>
				<div class="col-md-1"></div>
			</div>
			
			
			<div class="row">
				<div class="col-md-1"></div>
				<div id="content" class="col-md-10">
					{% block menu_contextuel %} Core Menu contextuel {% endblock %}

					{% block flashmessages %}
						{# On affiche les messages flash que définissent les contrôleurs du bundle #}
						{% for key, messages in app.session.flashbag.all() %}
							{% for message in messages %}
								<div class="alert alert-{{ key }} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									{{ message|trans() }}
								</div>
							{% endfor %}
						{% endfor %}
					{% endblock %}

					{% block contenu %} Core Contenu de base {% endblock %}
				</div>
				<div class="col-md-1"></div>
			</div>

			<hr>

			<footer>
				{% block footer %} Core footer {% endblock %}
			</footer>
		</div>

	</body>
</html>
